body
	background: $metal
	color: $blaqua

#list_meals
	md-card
		max-width: 864px
		margin: 30px auto
		form
			padding: 8px
		md-input-container, md-select
			width: 100%

#page_add_meal
	md-card
		max-width: 864px
		margin: 30px auto
		form
			padding: 8px
		md-input-container, md-select
			width: 100%

md-grid-tile
	transition: all 400ms ease-out 50ms
	
	.tile_inner
		padding: 8px

.meal_listbox
	max-width: 864px