<md-toolbar class="md-hue-2">
	<div class="md-toolbar-tools">
		<h2 flex md-truncate><a href="/">Fooderator!</a></h2>
		<md-button aria-label="Add a meal" ng-click="meal_add()">
			Add meal
		</md-button>
	</div>
</md-toolbar>