<md-toolbar class="md-hue-2">
	<div class="md-toolbar-tools">
		<h2 flex md-truncate>Fooderator!</h2>
		<md-button aria-label="Add a meal">
			<a href="/add-meal">Add Meal</a>
		</md-button>
	</div>
</md-toolbar>