<header>
	<div class="container">
		<div class="row">
			<div class="col-sm-2 text_left">
				<h1>ftr</h1>
			</div>
			<div class="col-sm-10">
				<nav id="main_navigation">
					<ul>
						<li><a href="/add-a-meal" title="Add a new meal"><button class="glyphicon-plus add_meal"></button></a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>