<% var page_name= 'add_meal'; %>

<% include ../partials/header %>
<% include ../partials/main-navigation %>

<md-card>
	<md-card-header>
		<md-card-title><h3>Add a new meal</h3></md-card-title>
	</md-card-header>
	<md-card-content>
		<form ng-submit="submit()" ng-controller="add_meal" class="app_form form_add_meal">

			<md-input-container>
				<input mdInput placeholder="Meal name" ng-model="meal_name">
			</md-input-container>

			<md-input-container>
				<input mdInput placeholder="Description (optional)" ng-model="meal_description">
			</md-input-container>


		</form>
		<md-card-actions>
			<md-button class="md-raised" type="submit">Add meal</md-button>
			<md-button href="/">Cancel</md-button>
		</md-card-actions>
	</md-card-content>
</md-card>

<% include ../partials/footer %>