<% var page_name= 'list_meals'; %>
<% include ../partials/header %>
<% include ../partials/main-navigation %>


<md-card data-ng-init="load_meal_list()">
	<md-card-header><md-card-title><h3>Your Meal List</h3></md-card-title></md-card-header>
	<md-card-content>
		<div ng-repeat="meal in meals | orderBy: 'name'">
			<md-list-item>
				<md-tooltip md-direction="bottom" md-delay="1000" ng-if="meal.description">{{ meal.description }}</md-tooltip>
				<md-checkbox ng-model="meal.pending" ng-change="meal_click(meal.id, meal.pending, meal.name)"></md-checkbox>
				<p>{{ meal.name }}</p>
				<md-icon class="md-secondary" aria-label="edit" md-svg-icon="/images/ic_edit_black_24px.svg" ng-click="meal_edit(meal.id, meal.name, meal.description)">edit</md-icon>
			</md-list-item>
		</div>
	</md-card-content>
</md-card>

<% include ../partials/footer %>