<% include ../partials/header %>

<body class="container">

<% include ../partials/main-navigation %>

<main>
	<div class="jumbotron">
		<!-- <h1>Add a new meal</h1> -->
	</div>
</main>

<% include ../partials/footer %>