<% include ../partials/header %>
<% include ../partials/main-navigation %>

<main>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="jumbotron">
					<h3>stuff</h3>
				</div>
				
			</div>
		</div>
	</div>
</main>

<% include ../partials/footer %>