.text_right {
  text-align: right; }

.text_left {
  text-align: left; }

.text_center {
  text-align: center; }

body {
  background: #B6C2D9;
  color: #272932; }

#page_add_meal md-card {
  max-width: 800px;
  margin: 30px auto; }
  #page_add_meal md-card form {
    padding: 8px; }
  #page_add_meal md-card md-input-container, #page_add_meal md-card md-select {
    width: 100%; }
